body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #222;
    color: white;
    width: 100%;
    padding: 0;
}
.container {
    margin: 0 auto;
}

header {
    height: 100px;
    width: 100%;

    margin: 0 0 50px 0;
    /* padding-top: 50px; */
    

    border: 1px solid #A342E9;

    text-align: center;
}

#topic-create {
    margin: 0 50px;
}
#topic-input {
    line-height:1;
    width: 80%;
    font-size: 2rem;
    color: #FA6372;
}

#topic-form {
    border: 1px solid #A342E9;
}

#create-button {
    height: 40px;
    width: 50px;
     
    background: linear-gradient(45deg, rgb(153, 51, 255) 0%, rgb(255, 102, 102) 100%);
    background-image: linear-gradient(45deg, rgb(153, 51, 255) 0%, rgb(255, 102, 102) 100%);

    color: white;

    border-style: none;
}


.dark-box {
    background-color: #222;
    color: white;
}

.purple-border {
    border: 1px solid #A342E9;
}

.fancy-border {
    height: 100%;
    width: 250px;
    background: linear-gradient(45deg, rgb(153, 51, 255) 0%, rgb(255, 102, 102) 100%);
    background-image: linear-gradient(45deg, rgb(153, 51, 255) 0%, rgb(255, 102, 102) 100%);
    margin: 0;
    padding: 0;
}
.fl {
    float: left;
}
.fr {
    float: right;
}

header h1 {
    margin: auto;
    padding: 30px 0;
    display: inline-block;
    color: linear-gradient(45deg, rgb(153, 51, 255) 0%, rgb(255, 102, 102) 100%);
}

.box-header {
    margin-bottom: 25px;
    background-color: #D254A7;
    color: white;
    border: 1px solid #D254A7;
    border-radius: 3px;
    text-align: center;
}


#gif-container {
    clear: both;
    width: 80%;
    margin: 0 auto;
}
#topics {
    background-color: #222;
    min-height: 350px;
    height: auto;
    border: 1px solid #FA6372;

}


/* javascript class styles */
.topic-btn {
    background-color: #333;
    color: #FA6372;
    border: 1px solid #FA6372;
    border-radius: 2px;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.25rem;
    padding: 5px;
    margin: 5px;
}
.topic-container {
    width: 90%;
    border: 1px solid #A342E9;
    border-radius: 2px;
    color: white;
    margin: 10px auto 0 auto;
}

.topic-header {
    height: 25px;
    text-transform: capitalize;
    background-color: #A342E9;
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

.topic-box {
    border: 1px solid #A342E9;
}
.rating {
    height: 20px;
    background-color: rgb(255, 102, 102);
    color: white;
    text-align: center;
    margin-bottom: 0;
    padding-top: 5px;
}

/*  */
.col {
    color: #888;
    float: left;
    width: 49%;
    min-height: 250px;
    height: auto;
    border-radius: 5px;
    margin: 3px;
}

/* Psuedo Classes */
.topic-btn:hover {
    background-color: rgb(255, 102, 102);
    color: #333;
    border: 1px solid #FA6372;
    border-radius: 2px;
}



/* Media Queries */

@media(max-width: 850px) {
    #topic-form {
        width: 100%;
        min-height: initial;
        height: 150px; 
    }
    #main-container {
        width: 100%;
        height: auto;
    }
}

@media(max-width: 740px) {
    .fancy-border {
        width: 100px;
    }
}